$color_1: rgb(0, 0, 0);
$color_2: #ffffff;
$color_3: #000000;
$color_4: #5b0f0f;
$color_5: #fff;
$color_6: white;
$color_7: gray;
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family_2: fontAwesome;
$background-color_1: #c4c6c8;
$background-color_2: #ffffff;
$background-color_3: #777777;
$background-color_4: #000000;
$background-color_5: #333;
$background-color_6: #010b13;




